@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(../img/fondo.jpg);
    font-size: 17px;
    color: white;
    text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    width: 90%;
    max-width: 1200px;
    margin-left: 60px;
}

.margin-left{
    margin-left: 35px;
}

.margin-bottom-5{
    text-align: center;
    margin-bottom: 5px;
}

.table{
    border-collapse: separate;
    border-spacing: 3px;
    color: white;
    font-size: 6px;
}

.td{
    background: white;
    color: black;
    width: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: black 1px solid;
}

.td-legend{
    background: white;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    border: black 1px solid;
}

.td-legend-bottom{
    background: white;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    border: black 1px solid;
}

.h1{
    font-size: 14px;
}

.h2{
    font-size: 12px;
} 

.zoom{
    transition: transform 0.5s;
}

.zoom:hover{
    transform: scale(2);
}

.margin-top{
    margin-top: 50px;
}

.padding-bottom{
    padding-bottom: 50px;
}

.title{
    color: navy;
}

.no-metales{
    background-color: #3CB371;
}

.alcalinos{
    background-color: #a378a3;
}

.alcalinosterreos{
    background-color: #f18bbe;
}

.metales{
    background-color: #ffa435;
}

.metaloides{
    background-color: #a3da36;
}

.otrosmetales{
    background-color: #f5df1b;
}

.halogenos{
    background-color: #4ecac6;
}

.gasesnobles{
    background-color: #64a6fd;
}

.lantanidos{
    background-color: #ec703e;
}

.actinidos{
    background-color: #f17171;
}

.gray {
    background-color: #b8b8b8;
}